@import 'normalize.css'
@import 'skeleton.css'

// Color palette
$pineapple: #fee233
$space-grey: #514c5e
$fake-white: #eeedef
$almost-white: rgba(0, 0, 0, 0.01)
$fanta-pop: #ec6334

*
  box-sizing: border-box
  max-width: 100%

body
  color: $space-grey

.container
  padding-top: 50px
  padding-bottom: 50px

// Font styling
h1
  font-family: monospace
  color: $fanta-pop

a
  color: $fanta-pop
  text-decoration: underline
  transition: 1s

a:hover
  color: $pineapple

// Header section
header
  margin-bottom: 50px

.zen
  position: relative
  height: 500px
  width: 100vw

  img
    position: absolute
    left: 50%
    transform: translateX(-50%)

  img:first-child
    width: 700px
    object-fit: cover
    animation: infinite linear 5s levitate

  img:nth-child(2)
    bottom: 0
    animation: infinite linear 5s shadow

// Main content
.welcome-section
  h1, .heart
    display: inline

  h1
    margin-right: 10px

  .socials-container
    display: flex
    align-content: stretch
    margin-top: 10px

    div
      flex-grow: 1
      display: block
      text-align: center

.social-btn:hover
  opacity: .2

.my-work
  padding-bottom: 150px

// Bouncy buttons
.bouncy-container
  display: flex
  align-content: stretch

  .bouncy-btn
    flex-grow: 1
    padding: 10px
    display: block
    text-align: center
    text-decoration: none

    p
      margin: 0
      padding: 0
      font-family: monospace
      font-size: 2rem
      font-weight: bold

    img
      animation: infinite linear 3s bouncy
      transition: .2s

  .bouncy-btn:hover
    img
      animation-duration: .5s
      transition: .2s

// Footer styling
footer
  margin: 0
  padding: 0
  background: $fake-white
  ul
    list-style: none

// Keyframe animations
@keyframes levitate
  0%, 100%
    margin-top: -2vh
  25%, 75%
    margin-top: 0vh
  50%
    margin-top: 2vh

@keyframes shadow
  0%, 100%
    width: 250px
  25%, 75%
    width: 300px
  50%
    width: 350px

@keyframes bouncy
  0%, 100%
    transform: rotate(-5deg)
  50%
    transform: rotate(5deg)