@import 'normalize.css';
@import 'skeleton.css';
/* ______________________ Default styling */
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
    overflow: hidden;
}

/* ______________________ Whitespace */
header {
  margin-bottom: 50px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome-section h1 {
  margin-right: 15px;
}

.my-work {
  padding-bottom: 150px;
}

/* ______________________ Typeface styling */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #514c5e;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #ec6334;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

.bouncy-btn p {
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
}

footer ul {
  font-size: 1.3rem;
}

/* ______________________ Link styling */
a {
  color: #ec6334;
  text-decoration: underline;
  transition: 1s;
}

a:hover {
    color: #fee233;
}

/* ______________________ Slide out layers */
.foreground-layer, .background-layer {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.foreground-layer {
    transition: 1s;
    background: #514c5e;
}

.background-layer {
    overflow: scroll;
}

.portfolio {
    margin-top: -100vh;
}

.projects {
    margin-left: 200vw;
}

.contact {
    margin-left: -100vw;
}

.faq {
  margin-left: 200vw;
}

/* ______________________ Header styling */
.zen {
  position: relative;
  height: 500px;
  width: 100vw;
}
.zen img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.zen img:first-child {
  width: 700px;
  object-fit: cover;
  animation: infinite linear 5s levitate;
}
.zen img:nth-child(2) {
  bottom: 0;
  animation: infinite linear 5s shadow;
}

/* ______________________ Main styling */
/* __________ Welcome section */
.welcome-section h1, .welcome-section .heart {
  display: inline;
}

.my-work ul {
  list-style: none;
}

/* ______________________ Footer styling */
footer {
  background: #eeedef;
}
footer ul {
  list-style: none;
}
footer .container .row div:nth-child(2) {
  text-align: right;
}

/* ______________________ Buttons */
/* __________ Social link buttons */
.socials-container {
  display: flex;
  align-content: stretch;
  margin-top: 10px;
}
.socials-container div {
  flex-grow: 1;
  display: block;
  text-align: center;
}

.social-btn:hover {
  opacity: 0.2;
}

/* __________ Boucny buttons */
.bouncy-container {
  display: flex;
  align-content: stretch;
}
.bouncy-container .bouncy-btn {
  display: block;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.bouncy-container .bouncy-btn img {
  animation: infinite linear 3s bouncy;
  transition: 0.2s;
}
.bouncy-container .bouncy-btn:hover img {
  animation-duration: 0.5s;
  transition: 0.2s;
}

/* __________ Work section buttons */
.my-work button {
  text-transform: uppercase;
  font-family: monospace;
  color: #ec6334;
}

/* ______________________ Keyframe animations */
@keyframes levitate {
  0%, 100% {
    margin-top: -2vh;
  }
  25%, 75% {
    margin-top: 0;
  }
  50% {
    margin-top: 2vh;
  }
}
@keyframes shadow {
  0%, 100% {
    width: 250px;
  }
  25%, 75% {
    width: 300px;
  }
  50% {
    width: 350px;
  }
}
@keyframes bouncy {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

/*# sourceMappingURL=App.css.map */
